<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
    <head>
        <meta charset="utf-8">
		<link rel="stylesheet" th:href="@{/resources/css/style.css}">
        <title>Forgot Password</title>
    </head>
    <body>
    <header></header>
    <section layout:fragment="content">
        <h1>You forgot your Password?</h1>
        <tr>
            <td>
                <label for="new_password">New password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </td>
            <br>
            <td>
                <label for="confirmed_password">Confirm password:</label>
                <input type="password" id="confirmed_password" name="confirmed_password" required>
            </td>
        </tr>
    </section>
    </body>

</html>